.section-16 {
   margin-bottom: 70px;
   &__container {
   }

   &__content {
      gap: 60px 30px;
      position: relative;
      padding: 360px 0px;
      @media (max-width: 1200px) {
         padding: 200px 0px;
      }
      @media (max-width: 767.98px) {
         padding: 0px;
      }
   }

   &__text-content {
      position: relative;
      z-index: 1;
      max-width: 610px;
      @media (max-width: 991.98px) {
         max-width: 450px;
      }
      @media (max-width: 767.98px) {
         text-align: center;
         margin: auto;
      }
   }

   &__title {
      font-family: var(--font-Druk);
      font-size: 65px;
      line-height: 100%;
      margin-bottom: 50px;
      @media (max-width: 991.98px) {
         font-size: 34px;
         margin-bottom: 25px;
      }
      span {
         display: block;
         color: #05e9f0;
      }
   }

   &__desrt {
      font-size: 19px;
      font-weight: 500;
      line-height: 125%;
      text-transform: uppercase;
      @media (max-width: 991.98px) {
         font-size: 15px;
      }
   }

   &__img {
      position: absolute;
      right: -30%;
      top: 0;
      height: 100%;
      @media (max-width: 767.98px) {
         position: relative;
         right: unset;
         left: 4%;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }
}
