//====================================================================================================
.header {
   padding: 45px 0px;
   position: absolute;
   z-index: 10;
   top: 0;
   left: 0;
   width: 100%;
   @media (max-width: 767.98px) {
      padding: 20px 0px;
   }
   &__container {
      max-width: 1395px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
   }

   &__logo {
      flex: 0 0 123px;
      @media (max-width: 767.98px) {
         flex: 0 0 75px;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   &__menu {
      display: flex;
      gap: 15px;
      align-items: center;
      font-family: var(--font-Unbounded);
      font-size: 24px;
      text-transform: uppercase;
      @media (max-width: 767.98px) {
         font-size: 14px;
         gap: 5px;
      }
   }
}

//====================================================================================================

//Burger

.icon-menu {
   display: block;
   position: relative;
   width: 30px;
   height: 18px;
   z-index: 5;
   @media (max-width: 767.98px) {
      width: 15px;
      height: 8px;
   }
   @media (any-hover: none) {
      cursor: default;
   }
   span,
   &::before,
   &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--white);
      @media (max-width: 767.98px) {
         height: 1px;
      }
   }
   &::before {
      top: 0;
   }
   &::after {
      bottom: 0;
   }
   span {
      top: calc(50% - 1px);
      @media (max-width: 767.98px) {
         top: 50%;
         transform: translate(0px, -50%);
      }
   }
   .menu-open & {
      span {
         width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
         top: calc(50% - 1px);
         transform: rotate(-45deg);
      }
      &::after {
         bottom: calc(50% - 1px);
         transform: rotate(45deg);
      }
   }
}
