<section class='section-11'>
    <div class='section-11__container'>
        <div class="section-11__static-content">
            <h2 class="section-11__title h1">WE PRIORITIZE YOUR SAFETY</h2>
            <h3 class="section-11__sub-title section-11__sub-title_1">AUDB is fully focused on ensuring that you can legally protect your creativeness, stage
                image,
                pseudonym, and
                everything related to your brand
            </h3>
            <h3 class="section-11__sub-title section-11__sub-title_2">On the platform, we have made sure that you can:</h3>
        </div>
        <div class="section-11__dynamic-content">
            <div class="section-11__bg"></div>
            <div class="section-11__img">
                <img src="@img/11/tablet.png" alt="tablet">
            </div>
            <div class="section-11__list">
                <div class="section-11__item">
                    <div class="section-11__item-img">
                        <img src="@img/11/card.jpg" alt="card">
                    </div>
                    <p class="section-11__item-text">Easily and smoothly enter into contracts that are beneficial for you</p>
                </div>
            </div>
        </div>
    </div>
</section>