<section class='section-12'>
    <div class='section-12__content'>
        <h2 class="section-12__title h1">AUDb ON THE <br> BLOCKCHAIN</h2>
        <div class="section-12__list">
            <div class="section-12__item">
                <h4 class="section-12__item-title">AUDb’s token</h4>
                <p class="section-12__item-text">Our own token allows you to become a co-owner of the project and earn money on the development of AUDb
                </p>
            </div>
        </div>
    </div>
    <div class="section-12__bg">
        <img src="@img/12/bg.png" alt="bg">
    </div>
</section>