<section class='section-13'>
    <h2 class="section-13__title h1">
        THE ULTIMATE <br> BENEFITS <br> OF AUDB
    </h2>
    <div class='section-13__content'>
        <div class="section-13__dynamic-content">
            <div class="section-13__item">
                <p class="section-13__text">New, simple and efficient ways to monetize your creativity</p>
                <div class="section-13__img">
                    <img src="@img/13/card.jpg" alt="card">
                </div>
            </div>
        </div>
        <div class="section-13__bg section-13__bg_top">
            <img src="@img/logo-blue.svg" alt="bg">
        </div>
        <div class="section-13__bg section-13__bg_bottom">
            <img src="@img/logo-blue.svg" alt="bg">
        </div>
        <div class="section-13__rounded">
            <div class="section-13__rounded-bg"></div>
            <div class="section-13__round section-13__round_1"></div>
            <div class="section-13__round section-13__round_2"></div>
        </div>
    </div>
</section>