<section class='section-14'>
    <h2 class="section-14__title h1">AUDb TEAM</h2>
    <div class="section-14__content">
        <div id='teamSlider' class="section-14__slider swiper">
            <div class="section-14__slider-wrapper swiper-wrapper">
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-14__slide team-slide swiper-slide">
                    <div class="team-slide__img">
                        <img src="@img/14/person.png" alt="person">
                    </div>
                    <div class="team-slide__content">
                        <div class="team-slide__top-line">
                            <h3 class="team-slide__name">KIR ULANOV</h3>
                            <p class="team-slide__positition">CO-FOUNDER & CMO IN AUDB & DAO OASIS</p>
                        </div>
                        <div class="team-slide__bottom-line">
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Marketing reviser, managing partner of a media network of TikTok and YouTube channels with a
                                    total of 100+ million subscribers
                                </p>
                                <p class="team-slide__text">
                                    Created a technology for building profitable auto sales funnels (an online sales system), which
                                    is used by 100,000+ companies
                                </p>
                                <p class="team-slide__text">
                                    Wrote the best-selling book "Customer Generator", which won Top Business Award, and which grew up a generation of
                                    marketers
                                </p>
                            </div>
                            <div class="team-slide__bottom-col">
                                <p class="team-slide__text">
                                    Completed marketing reviews for projects including NYM, LetMeSpeak, WeWay, IguVerse, DinoWars
                                </p>
                                <div class="team-slide__labels">
                                    <img src="@img/14/list-labels-1.png" alt="labels">
                                </div>
                                <div class="team-slide__bottom-block team-bottom-block">
                                    <p class="team-bottom-block__text team-slide__text">
                                        Solved various tasks: from attracting an audience to restructuring the launch strategy in projects like CryptoGPT
                                        (x30), PUML (x10), Amazy (x30), DegenZoo
                                        (x36), ChainGPT (x84)
                                    </p>
                                    <div class="team-bottom-block__img">
                                        <img src="@img/14/list-labels-2.png" alt="labe">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='section-14__navigation'>
                <button type="button" class="section-14__btn section-14__btn_next"></button>
                <button type="button" class="section-14__btn section-14__btn_prev"></button>
            </div>
        </div>
    </div>
</section>