<section class='section-16'>
    <div class="section-16__container">
        <div class="section-16__content">
            <div class="section-16__col section-16__col_left">
                <h3 class="section-16__title">
                    AUDB ON <span>DAO OASIS </span>LAUNCHPAD
                </h3>
                <p class="section-16__desrt">
                    You can subscribe and follow the development of the AUDB project on the website of the official partner DAO OASIS
                </p>
            </div>
            <div class="section-16__col section-16__col_right">
                <div class="section-16__img">
                    <img src="@img/16/planet.png" alt="planet">
                </div>
            </div>
        </div>
    </div>
</section>