<section class='section-2'>
    <div class="section-2__container">
        <div class="section-2__content">
            <h2 class="section-2__title h1">MISSION</h2>
            <h3 class="section-2__subtitle">Help artists become owners of their own content, 
                which brings in money daily, attracts new fans
                and allows for creative freedom
            </h3>
        </div>
        <div class="section-2__card section-2__card_left"><img src="@img/2/cards-left.png" alt="cards"></div>
        <div class="section-2__card section-2__card_top"><img src="@img/2/cards-top.png" alt="cards"></div>
        <div class="section-2__card section-2__card_right"><img src="@img/2/cards-right.png" alt="cards"></div>
    </div>
</section>