<section class='section-3'>
    <div class="section-3__container">
        <div class="section-3__content">
            <div class="section-3__logo">
                <img src="@img/3/logo.svg" alt="logo">
            </div>
            <h2 class="section-3__title h1">Project <br> Goals</h2>
            <div class="section-3__card-list">
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-1.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-1.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Create a unified international music catalog
                    </p>
                </div>
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-2.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-2.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Develop an innovative tracking and monitoring system for music tracks
                    </p>
                </div>
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-3.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-3.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Make the music industry more transparent and public
                    </p>
                </div>
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-4.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-4.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Help lyricists, composers, arrangers, and music video creators gain fame and make money
                    </p>
                </div>
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-5.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-5.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Give to musicians a simple and multifunctional monetization system of creativeness
                    </p>
                </div>
                <div class="section-3__card card-3">
                    <div class="card-3__img-content">
                        <div class="card-3__card-img">
                            <img src="@img/3/card-6.png" alt="card">
                        </div>
                        <div class='card-3__top-img'>
                            <img src="@img/3/top-6.svg" alt="top">
                        </div>
                        <div class='card-3__border-img'>
                            <img class='section-3__border' src="@img/3/border.png" alt="border">
                        </div>
                    </div>
                    <p class="card-3__text">
                        Open up a unified space for music fans and enthusiasts from all over the world, where they
                    </p>
                </div>
            </div>
            <div class='section-3__anim section-3__anim_1'>
                <img src="@img/3/anim-1.svg" alt="animation">
            </div>
            <div class='section-3__anim section-3__anim_2'>
                <img src="@img/3/anim-2.svg" alt="animation">
            </div>
            <div class='section-3__anim section-3__anim_3'>
                <img src="@img/3/anim-3.svg" alt="animation">
            </div>
            <div class='section-3__anim section-3__anim_4'>
                <img src="@img/3/anim-4.svg" alt="animation">
            </div>
            <div class='section-3__anim section-3__anim_5'>
                <img src="@img/3/anim-5.svg" alt="animation">
            </div>
            <div class='section-3__anim section-3__anim_6'>
                <img src="@img/3/anim-6.svg" alt="animation">
            </div>
        </div>
        <div class="section-3__bg"></div>
    </div>
</section>