<section class='section-5'>
    <div class="section-5__container">
        <div class="section-5__content">
            <div class="section-5__left-col">
                <div class="section-5__top-line">
                    <button type="button" class="section-5__prev-btn"></button>
                    <div class='section-5__top-line-content'>
                        <div class="section-5__logo">
                            <img src="@img/logo-color.svg" alt="logo">
                        </div>
                        <span class="section-5__label">audio <br> database</span>
                    </div>
                    <button type="button" class="section-5__next-btn"></button>
                </div>
                <div id='swiper5' class="section-5__slider slider-5 swiper">
                    <div class="slider-5__wrap swiper-wrapper">
                        <div class="slider-5__slide swiper-slide">
                            <div class='slider-5__slide-top-line'>
                                <h3 class="slider-5__title">Worldwide music catalog</h3>
                                <h4 class="slider-5__sub-title">Storage of compositions and their information</h4>
                            </div>
                            <ul class="slider-5__list">
                                <li class="slider-5__item">Storage of compositions and information about them</li>
                                <li class="slider-5__item">Digital certification</li>
                                <li class="slider-5__item">Collection of unique stories and materials</li>
                            </ul>
                        </div>
                        <div class="slider-5__slide swiper-slide">
                            <div class='slider-5__slide-top-line'>
                                <h3 class="slider-5__title">Scanner</h3>
                                <h4 class="slider-5__sub-title">Collecting and systematization for analytics</h4>
                            </div>
                            <ul class="slider-5__list">
                                <li class="slider-5__item">Detailed statistics from across the internet</li>
                                <li class="slider-5__item">Tracking music usage</li>
                                <li class="slider-5__item">Ratings and reports</li>
                            </ul>
                        </div>
                        <div class="slider-5__slide swiper-slide">
                            <div class='slider-5__slide-top-line'>
                                <h3 class="slider-5__title">Copyright
                                    register
                                </h3>
                                <h4 class="slider-5__sub-title">Tools for protecting work relationships</h4>
                            </div>
                            <ul class="slider-5__list">
                                <li class="slider-5__item">Copyright fixation</li>
                                <li class="slider-5__item">Public contracts and agreements</li>
                                <li class="slider-5__item">Tracking license usage</li>
                            </ul>
                        </div>
                        <div class="slider-5__slide swiper-slide">
                            <div class='slider-5__slide-top-line'>
                                <h3 class="slider-5__title">Social network</h3>
                                <h4 class="slider-5__sub-title">Сommunication and publicity</h4>
                            </div>
                            <ul class="slider-5__list">
                                <li class="slider-5__item">All fans in one place</li>
                                <li class="slider-5__item">Promotion and audience building</li>
                                <li class="slider-5__item">Any necessary contacts</li>
                            </ul>
                        </div>
                        <div class="slider-5__slide swiper-slide">
                            <div class='slider-5__slide-top-line'>
                                <h3 class="slider-5__title">Monetization</h3>
                                <h4 class="slider-5__sub-title">Solutions for making money on your creativeness by all the ways</h4>
                            </div>
                            <ul class="slider-5__list">
                                <li class="slider-5__item">10+ tools for earning money on your creativity</li>
                                <li class="slider-5__item">Ready-made bundles and solutions</li>
                                <li class="slider-5__item">Systematic business</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-5__right-col ">
                <div id='trumbs5' class='trumbs-5 swiper'>
                    <div class="trumbs-5__wrap swiper-wrapper">
                        <div class="trumbs-5__slide swiper-slide">
                            <p class="trumbs-5__text">Key components of the project</p>
                            <img src="@img/5/slide.jpg" alt="slide">
                        </div>
                        <div class="trumbs-5__slide swiper-slide">
                            <p class="trumbs-5__text">Key components of the project</p>
                            <img src="@img/5/slide.jpg" alt="slide">
                        </div>
                        <div class="trumbs-5__slide swiper-slide">
                            <p class="trumbs-5__text">Key components of the project</p>
                            <img src="@img/5/slide.jpg" alt="slide">
                        </div>
                        <div class="trumbs-5__slide swiper-slide">
                            <p class="trumbs-5__text">Key components of the project</p>
                            <img src="@img/5/slide.jpg" alt="slide">
                        </div>
                        <div class="trumbs-5__slide swiper-slide">
                            <p class="trumbs-5__text">Key components of the project</p>
                            <img src="@img/5/slide.jpg" alt="slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-5__bg"></div>
</section>