<section class='section-6'>
    <div class="section-6__container">
        <div class="section-6__content">
            <div class="section-6__cards">
                <img class='section-6__card-pc' src="@img/6/cards-left.png" alt="cards">
                <img class='section-6__card-mob' src="@img/6/cards-top.png" alt="cards">
            </div>
            <p class="section-6__text">
                In our database,<br>
                we already have <br>
                over 100 million songs
            </p>
            <div class="section-6__cards">
                <img class='section-6__card-pc' src="@img/6/cards-right.png" alt="cards">
                <img class='section-6__card-mob' src="@img/6/cards-bottom.png" alt="cards">
            </div>
        </div>
        <div class="section-6__bg section-6__bg_top">
            <img src="@img/6/bg.svg" alt="bg">
        </div>
        <div class="section-6__bg section-6__bg_bottom">
            <img src="@img/6/bg.svg" alt="bg">
        </div>
    </div>
</section>