<section class='section-7'>
    <div class="section-7__container">
        <div class="section-7__content">
            <h2 class="section-7__title h1">FULLSCALE <br> ANALYTIC</h2>
            <div class="section-7-slider">
                <h4 class="section-7-slider__title">Any artist and/or their representative gain access to:</h4>
                <div id='swiper7l' class="section-7-slider__swiper swiper">
                    <div class="section-7-slider__swiper-wrapper swiper-wrapper">
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_1">
                                <img src="@img/7/slide-1.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Information about platforms and public places – where and how any composition is broadcasted</p>
                        </div>
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_2">
                                <img src="@img/7/slide-2.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Statistics for each composition – where, in what format, and how popular it is</p>
                        </div>
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_3">
                                <img src="@img/7/slide-3.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Accuracy of fulfilling the agreements established by the contract</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-7-slider">
                <h4 class="section-7-slider__title">The AUDb’s analytic will count and calculate all the figures:</h4>
                <div id='swiper7r' class="section-7-slider__swiper swiper">
                    <div class="section-7-slider__swiper-wrapper swiper-wrapper">
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_4">
                                <img src="@img/7/slide-4.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Market evaluation of the artist</p>
                        </div>
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_5">
                                <img src="@img/7/slide-5.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Dynamics of each album and track in terms of reach and revenue</p>
                        </div>
                        <div class="section-7-slider__slide swiper-slide">
                            <div class="section-7-slider__img section-7-slider__img_6">
                                <img src="@img/7/slide-6.jpg" alt="slide">
                            </div>
                            <p class="section-7-slider__text">Forecasting prospects based on the dynamics (in a month, a year)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-7__bg section-7__bg_1"></div>
        <div class="section-7__bg section-7__bg_2"></div>
        <div class="section-7__bg section-7__bg_3"></div>
    </div>
</section>