<section class='section-8'>
    <div class="section-8__silhouette section-8__silhouette_left">
        <img src="@img/8/left.png" alt="silhouette">
    </div>
    <div class="section-8__silhouette section-8__silhouette_center">
        <img src="@img/8/center.png" alt="silhouette">
    </div>
    <div class="section-8__silhouette section-8__silhouette_right">
        <img src="@img/8/right.png" alt="silhouette">
    </div>
    <div class="section-8__logo">
        <img src="@img/8/logo.svg" alt="logo">
    </div>
</section>