<section class='section-9'>
    <div class="section-9__container">
        <div class="section-9__content">
            <h2 class="section-9__title h1">All indicators in one place!</h2>
            <h3 class="section-9__subtitle">We are developing a wide range of solutions for integrating AUDB into other services:</h3>
            <div class="section-9__block">
                <div class="section-9__circle">
                    <div class="section-9__round section-9__round_1"></div>
                    <div class="section-9__round section-9__round_2"></div>
                    <div class="section-9__round section-9__round_3"></div>
                    <div class="section-9__round section-9__round_4"></div>
                    <div class="section-9__round section-9__round_5"></div>
                    <div class="section-9__round section-9__round_6"></div>
                    <div class="section-9__round section-9__round_7"></div>
                    <div class="section-9__round section-9__round_8"></div>
                    <div class="section-9__circle-bg"></div>
                </div>
                <div class="section-9__list">
                    <div class="section-9__item">
                        <div class="section-9__card-img">
                            <img src="@img/9/cards.jpg" alt="card">
                        </div>
                        <p class="section-9__item-text">Counters <br> and metrics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>