// Fonts
@import 'fonts';
// Default Font==============================================================================================================================================================================================================================================================================
$fontFamily: 'Roboto';
$fontSize: 19px;
// Vars
:root {
   --font-Druk: 'Druk-Font';
   --font-Unbounded: 'Unbounded';
   --white: #ffffff;
   --black: #000000;
   --black800: #0c0c0c;
}
// Null ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import 'null';
// Body Style============================================================================================================================================================================================================================================================================================================================================================================================
body {
   background-color: var(--black);
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   .loaded & {
   }
}
// Wrapper Style============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   background: var(--black);
   @supports (overflow: clip) {
      overflow: clip;
   }
   > main {
      flex: 1 1 auto;
   }
   * {
      min-width: 0;
   }
}

[class*='__container'] {
   margin: 0 auto;
   padding: 0px 25px;
   height: 100%;
   max-width: 1440px;
}

// Vendor
@import '/node_modules/swiper/swiper.min.css';
@import '/node_modules/swiper/modules/effect-coverflow/effect-coverflow.min.css';
@import '/node_modules/swiper/modules/thumbs/thumbs.min.css';
@import '/node_modules/locomotive-scroll/dist/locomotive-scroll.min.css';

//UI
@import './mixins.scss';
@import './common.scss';
//Components
@import './components/header.scss';
@import './components/1.scss';
@import './components/2.scss';
@import './components/3.scss';
@import './components/4.scss';
@import './components/5.scss';
@import './components/6.scss';
@import './components/7.scss';
@import './components/8.scss';
@import './components/9.scss';
@import './components/10.scss';
@import './components/11.scss';
@import './components/12.scss';
@import './components/13.scss';
@import './components/14.scss';
@import './components/15.scss';
@import './components/16.scss';
@import './components/footer.scss';
